
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  text-decoration: underline;
  white-space:  nowrap;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: bisque;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}